/* You can add global styles to this file, and also import other style files */
body{

    background-color:#93deeb;
    margin-left:25px;
    margin-right:25px;

font-family: 'Karla', sans-serif;

}
